.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.intro {
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #E9E8E8;
    letter-spacing: 4px;
}

.name {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.typewriter-text {
    color: #10dde8;
    margin-top: 2rem;
    font-size: 4rem;
    text-align: center;
}

.wave-hand {
    animation: wave 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}


@media only screen and (max-width: 31em) {

    .intro {
        font-size: 2.5rem; 
        letter-spacing: 3px;
    }
    .name {
        font-size: 2.5rem;
        word-wrap: break-word;
    }
}
