@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --primary-white: white;
    --dark-gray: #222831;
    --dark-red: #aa2b1d;
    --dark-blue: #383e56;
    --light-dark-red: #c4401fab;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
ul {
    padding-inline-start: 0;
}
a {
    text-decoration: none;
    color: var(--primary-white);
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--primary-white);
}

/* navbar */
#navbar{
    top: 0;
    position : fixed;
    width: 100%;
    text-align: right;
    background-color: var(--dark-red);
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgb(12, 12, 12);
}

.nav-link{
    padding: 30px;
    display: inline;
    font-size: 25px;
}

#navbar a:hover {
    color: var(--dark-gray)
}

/* welcome-section */
#welcome-section{
    margin-top: 69.6px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
}

#info-div {
    margin: auto;
    text-align: center;
}

#name {
    font-size: 5rem;
}

#info{
    font-size:2rem;
    font-weight: 200;
    color: var(--dark-red);
}

/* project-section */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
    background-color: var(--dark-blue);
    text-align:center;
}

#projects-heading {
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 0.2rem solid var(--primary-white);
    margin: 10px 10px;
}

#projects-container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto ;
    max-width: 1280px;
    justify-content: center;
}

.project-div {
    background-color: var(--dark-gray);
    margin: 3rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#show-projects {
    background-color:  var(--dark-gray);
    font-size: 25px;
    padding: 10px;
    border: none;
    outline: none;
}



img {
    width: 100%;
    height: 40vh;
    min-width: 200px;
    max-width: 330px;
}

/* contact section */

#contact-section {
    background-color: var(--dark-gray);
    padding: 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact-heading{
    font-size: 4rem;
}

#contact-para {
    font-size: 2rem;
    padding: 2.5px;
    font-weight: 200;
    color: var(--dark-red);
}

#contact-list {
    margin-top: 3rem;
    text-align: center;
}

.contact-links {
    display: inline;
    margin: 1rem;
    font-size: 2rem;
}

.social-icons {
    color: var(--primary-white);
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 2px gray;
}

#contact-list a :hover{
    transform: translateY(8px); 
}

@media (max-width: 1092px){
    .contact-links{
        font-size: 1.5rem;
    }
}

@media (max-width: 895px){
    #projects-container {
        grid-template-columns: auto auto;
    }
    
    #contact-section {
        padding: 0;
    }

    #projects {
        padding: 50px  0;
    }

}

@media (max-width: 760px) {
    #projects-heading{
        font-size: 2.4rem;
    }
}

@media (max-width: 645px) {
   #name, #contact-heading{
       font-size: 3rem;
    }

    .project-div {
        margin: 2rem;
    }

    #projects-heading {
        font-size: 2rem;
    }

}

@media (max-width: 558px){

    #navbar {
        padding: 0;
    }

    .nav-link {
        font-size: 20px;
        padding: 10px;
    }

    #welcome-section {
        margin-top: 59.6px;
    }

    #projects-container {
        grid-template-columns: auto;
    }

    #contact-heading {
        font-size: 2.5rem;
    }

    #contact-para {
        font-size: 1.5rem;
    }
}